<div class="app-header">
  <div class="app-body">
    <mat-toolbar color="primary">
      <span>Welcome to Admin Panel</span>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container" flex>
      <mat-sidenav class="sidenav" mode="side" align="start" opened flex>
        <mat-nav-list dense>
          <a class="sidenav-link" mat-list-item href="">
            <mat-icon>search</mat-icon>
            <span>Find Lecturers</span>
          </a>
        </mat-nav-list>
      </mat-sidenav>
      <!-- Body -->
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-container>

  </div>
</div>