.sidenav-container {
    height: 90vh;
}

.content {
    padding: 5px;
    margin-left: 5px;
}

.sidenav {
    padding: 8px;
    width: 200px;
    box-shadow: 1px 1px 5px 1px #aaa;
}

mat-sidenav mat-button-toggle {
    width: 100%;
}

mat-form-field {
    margin: 0 15px;
}

.sidenav-link span {
    padding: 5px;
    font-size: 15px;
}

.sidenav-link {
    padding: 5px;
    border-bottom: 1px solid #aaa;
}
