.content {
    margin: 10px;
    width: 100%;
    height: 100%;
}

.flex-container {
    display: flex;
    background-color: white;
    margin: 10px 0;
    padding: 10px;
  }

.button button {
    margin: 10px 0;
    padding: 15px;
}

.index {
    margin: 10px 0;
}

.index input {
    padding: 15px;
}

.result {
    margin: 10px 0;
    padding: 10px;
    background-color: white;
}
