form mat-form-field {
    margin: 0px 15px;
}

.student-result {
    margin: 10px 0px;
}

mat-progress-bar {
    height: 20px;
}

.mat-progress-bar-fill::after {
    background-color: #FA6500;
}

a:link, a:visited {
    background-color: #4a6abe;
    color: white;
    padding: 50px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

a:hover, a:active {
    background-color: #232247;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}